* {
  font-family: "Playfair Display", serif;
}

.vv-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.vv-image {
  width: 100%;
  height: auto;
}

button {
  background: none !important;
  border: none;
  text-decoration: none;
}
