* {
  font-family: "Playfair Display", serif;
}

/* home */

.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vv-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.vv-image {
  width: auto;
  max-height: 200px;
}

button {
  background: none !important;
  border: none;
  text-decoration: none;
}

/* about */

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-paragraph {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  padding: 2em;
  border: black double 4px;
}

.makeup-app-pic {
  width: auto;
  max-height: 200px;
  border: black double 1px;
}

figure {
  margin: 0;
}

h3 {
  margin: 0;
}

.about-this {
  margin-right: 2em;
}

/* contact */

.contact-page {
  display: block;
  margin: 4em;
  overflow: auto;
}

.contact-page-style {
  display: inline-block;
  justify-content: center;
  align-items: center;
  border: 4px double #000;
  width: 100%;
  height: auto;
  align-items: center;
  padding: 1em;
}

ul {
  padding: 0;
  margin: 0;
  /* justify-content: space-around; */
  list-style: none;
}

a {
  color: black;
}

ul.contact-list {
  display: block;
  line-height: 2em;
  text-align: center;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-div {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-button {
  padding: 5px 0px;
  width: 50%;
  background-color: grey;
  border-radius: 25px;
  box-shadow: 6px 6px 10px darkgrey;
}

.contact-button:hover {
  box-shadow: 6px 8px 12px darkgrey;
}

/* footer */
.footer-link {
  font-size: 25px;
}

.footer-link:hover {
  font-size: 33px;
  text-shadow: 8px 10px 16px var(--hoverColor);
}

@media only screen and (max-width: 480px) {
  .nav-link {
    font-size: 1em;
  }

  .contact-button {
    padding: 10px 10px;
    width: 30%;
  }

  .about-this {
    font-size: medium;
  }

  .makeup-app-pic {
    width: auto;
    max-height: 150px;
  }
}
