* {
  font-family: "Playfair Display", serif;
}

main {
  background-color: rgb(255, 243, 227);
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin-bottom: 0;
}

/* Navbar */

.nav-link {
  color: black !important;
}

.nav-link:hover {
  color: grey !important;
}

/* home */

.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
}

.vv-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.vv-image {
  width: auto;
  max-height: 200px;
  border: black double 1px;
}

button {
  background: none !important;
  border: none;
  text-decoration: none;
}

/* about */

.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  padding: 2em;
  border: black double 4px;
  background-color: white;
}

.about-right {
  margin-right: 2em;
}

.makeup-app-pic {
  width: auto;
  max-height: 250px;
  border: black double 1px;
}

.my-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2em;
  margin-top: 2em;
  padding: 2em;
  border: black double 4px;
  background-color: white;
}

.rainbow-eyeshadow-pic {
  width: auto;
  max-height: 250px;
  border: black double 1px;
}

.about-left {
  margin-left: 2em;
}

.my-story {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2em;
  margin-bottom: 2em;
  padding: 2em;
  border: black double 4px;
  background-color: white;
}

.blue-eyeliner-pic {
  width: auto;
  max-height: 250px;
  border: black double 1px;
}


/* skincare */

.product-images {
  width: auto;
  max-height: 250px;
  border: black double 1px;
}


/* cosmetics */


/* haircare */



/* contact */

.contact-page {
  display: flex;
  justify-content: center;
  overflow: auto;
}

.contact-page-style {
  margin: 2em;
  justify-content: center;
  align-items: center;
  border: 4px double #000;
  width: 100%;
  height: auto;
  align-items: center;
  padding: 1em;
  background-color: white;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: black;
}

ul.contact-list {
  display: block;
  line-height: 2em;
  text-align: center;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-div {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-button {
  background-color: rgb(255, 243, 227);
  padding: 5px 0px;
  width: 50%;
  border-radius: 25px;
  box-shadow: 6px 6px 10px darkgrey;
}

.contact-button:hover {
  box-shadow: 6px 8px 12px darkgrey;
}

/* footer */
.footer-link {
  font-size: 25px;
}

.footer-link:hover {
  font-size: 33px;
  text-shadow: 8px 10px 16px var(--hoverColor);
}

@media only screen and (max-width: 480px) {
  .nav-link {
    font-size: 1em;
  }

  .contact-button {
    padding: 10px 10px;
    width: 50%;
  }

  .about-left,
  .about-right {
    font-size: medium;
  }

  .makeup-app-pic,
  .rainbow-eyeshadow-pic,
  .blue-eyeliner-pic {
    width: auto;
    max-height: 150px;
  }

  .image-div {
    display: block;
  }
  .intro-paragraph {
    display: block;
  }
}
